.code-box-demo {
  background:white ;
  overflow: hidden;
  padding: 24px;
  /* height: 100%; */
  overflow: auto;
}

.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  /* height: 120px; */
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: rgb(255, 255, 255);
  padding: 16px;
  min-height: 89vh;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent !important;
  background: transparent !important;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color:transparent !important;
  border-top:transparent!important;
  background: #fff;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color:black !important;
  font-weight: bold;
  font-size: 30px;
}

.ant-tabs-tab .ant-tabs-tab-btn {
  color: black !important;
  font-weight: 500;
  font-size: 30px;
}

#components-tabs-demo-card-top .code-box-demo {
  background: #124c5e !important;
  overflow: hidden;
  padding: 24px;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #141414;
  background: #141414;
}

.rightTab{
width: 35px; 
height: 35px;
margin-left: 2600%; 
}

@media only screen and (max-width: 1351px){
  .rightTab {
    margin-left: 2200%;
  }
}

@media only screen and (max-width: 1138px){
  .rightTab {
    margin-left: 1600%;
  }
}

@media only screen and (max-width: 994px){
  .rightTab {
    margin-left: 1250%;
  }
}

@media only screen and (max-width: 878px){
  .rightTab {
    margin-left: 1000%;
  }
}

@media only screen and (max-width: 787px){
  .rightTab {
    margin-left: 770%;
  }
}

@media only screen and (max-width: 709px){
  .rightTab {
    margin-left: 80%;
  }
}

.page-main-title{
  font-weight: bold;
  font-size: 30px;
  color:#124c5e;
  text-align: center;
}

.search-bar {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5.5em;
  margin-inline-end: 0px;
  margin: 20px auto;
  width: 80%;
}

.button-add{
  background-color:transparent !important;
  border-color: #124c5e !important;
  margin-left: 83%; 
  margin-right: 0 ;
  display: inherit !important;
  margin-top: -32px !important;
  color: #124c5e !important;
}

.button-add:hover{
  background-color:#124c5e!important;
  color: #fff !important;
}

@media only screen and (max-width: 700px){
  .button-add {
    margin-left: 70%;
    width: 18%;
    text-align: center;
  }
}

@media only screen and (max-width: 500px){
  .button-add {
    margin-left: 72%;
    width: 18%;
  }
}

.ant-btn:empty {
  visibility: inherit;
  width: 100px !important;
}

.title {
  font-weight: bold;
  margin-top: 8px!important;
}

.ingredients {
  white-space: nowrap;
}

.ant-card-meta-description{
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding-left: 5%;
  border: 1px solid #ddd;
  outline-color:#124c5e;
}

.main-container {
  /* width: 600px; */
}

.ant-row{
  margin: 24px auto !important;
  max-width: 1152px;
  min-width: 240px;
  width: 80%;
}

.gutter-row{
  max-width: 100% !important;
}

.list-group-item {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 1.25rem 1.25rem;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group-item:hover img {
  transform: scale(1.15);
}

.ant-card-cover{
  height: 200px; 
  overflow: hidden;
}

.ant-card-cover img {
  transition: transform .5s ease;
}

.ant-card-cover:hover img {
  transform: scale(1.15);
}

#components-form-demo-control-ref .ant-btn {
  margin-right: 20px;
}